<!-- IF ADS_5 and postrow.S_FIRST_ROW -->
    <!-- IF S_ADS_STYLE_5 -->
    <div class="post bg3" id="post_ads">
    	<div class="inner">
    		<div class="postprofile"id="profile_ads">{L_ADVERTISEMENT}</div>
    		<div class="postbody">
    			<div class="content adsm_block">
    				{ADS_5}
    			</div>
    		</div>
    	</div>
    </div>
    <!-- ELSE -->
        <div class="outer_place_{ADS_ID_5}" style="{ADS_STYLE_OUT_5}"><div class="inner_place_{ADS_ID_5}" style="{ADS_STYLE_IN_5}">{ADS_5}</div></div>
    <!-- ENDIF -->
<!-- ENDIF -->
<!-- IF ADS_6 and not postrow.S_FIRST_ROW -->
    <!-- IF S_ADS_STYLE_6 -->
    <div class="post bg3" id="post_ads">
        <div class="inner">
            <div class="postprofile"id="profile_ads">{L_ADVERTISEMENT}</div>
            <div class="postbody">
                <div class="content adsm_block">
                    {ADS_6}
                </div>
            </div>
        </div>
    </div>
    <!-- ELSE -->
        <div class="outer_place_{ADS_ID_6}" style="{ADS_STYLE_OUT_6}"><div class="inner_place_{ADS_ID_6}" style="{ADS_STYLE_IN_6}">{ADS_6}</div></div>
    <!-- ENDIF -->
<!-- ENDIF -->